# general
*~
*.kdev*
*.swp
*.rej
*.orig
*.out
.*
CMakeLists.txt.user

# from git merge
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
